<div class="movienavbody">
  <div class="row">
    <div class="small-12 columns">

  <div class="signup-container">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
</div>

<div class="search-button">
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</div>

</div>
</div>
</div>
<footer class="row">
<div class="large-12 columns">
  <div class="row">
    <div class="large-12 columns">
      <div class="footer">
        <p>© Copyright Celebri 2015</p>
      </div>
    </div>
  </div>
</div>
</footer>
